<!--Navbar-->
<app-navbar></app-navbar>
<!--Alex-->
<div id="alex" class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div style="min-width: 300px;">
        <h1 id="spinName"></h1>
        <h4 id="junior"></h4>
    </div>
</div>

<!--About-->
<div id="about" class="container" style="min-height: 90vh;">
    <h2 class="mx-auto" style="width: max-content;">About Me</h2>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <b>Hello World!</b><br>
            My name is Alex Asztalos, I was born in Hungary and I am 31 years old. I have been living in Germany for
            7 years, currently in Bergkamen. I have been involved in game configuration, server management and
            website creation since I was a child, because I like logical and coordinated planning. For me, the
            various programming languages were always easy to understand.
            <br><br>
            <b>
                I am looking for a Junior Frontend developer job, because I just finished a 1-year Junior Frontend
                training course at the <a href="https://www.ruander.hu/" target="_blank" title="Ruander Education
                Center">Ruander Education Center</a>.
            </b>
            <br><br>
            I chose the Frontend development line because it is exciting and interesting to me, it is constantly
            changing and developing, just like our life and our world.
            <br><br>
            I want to move along with the development of the world or even go ahead of it, and I am sure that with
            my skills and knowledge I can very quickly do outstanding work among good professionals, which I find
            joy in. I know this profession involves lifelong learning, but I am happy to face it.
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 k">
            <img class="itsMe mx-auto d-block rounded img-fluid" alt="Alex Asztalos" title="Alex Asztalos"
                src="/assets/images/AlexAsztalos.jpg">
        </div>
    </div>
</div>

<!--Skills-->

<div id="skills" class="container" style="min-height: 90vh;">

    <h2 class="mx-auto" style="width: max-content;">Skills</h2>
    <div class="row text-center">
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-html5-plain" title="HTML5"></p>
            <p>HTML5</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-css3-plain" title="CSS"></p>
            <p>CSS</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-bootstrap-plain" title="Bootstrap"></p>
            <p>Bootstrap</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-javascript-plain" title="JavaScript"></p>
            <p>JavaScript</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-typescript-plain" title="TypeScript"></p>
            <p>TypeScript</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-nodejs-plain" title="NodeJS"></p>
            <p>NodeJS</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-jquery-plain" title="jQuery"></p>
            <p>jQuery</p>
        </div>

        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-mysql-plain" title="SQL"></p>
            <p>SQL</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-mongodb-plain" title="MongoDB"></p>
            <p>MongoDB</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-angularjs-plain" title="Angular"></p>
            <p>Angular</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-git-plain" title="Git"></p>
            <p>Git</p>
        </div>
        <div class="skill-title col-sm-6 col-md-6 col-lg-4">
            <p class="devicons devicon-github-plain" title="GitHub"></p>
            <p>GitHub</p>
        </div>
    </div>
</div>

<!-- Projects -->

<div id="projects" class="container">

    <h2 class="mx-auto" style="width: max-content;">My projects</h2>
</div>
<app-frontendmentoripc></app-frontendmentoripc>
<app-frontendmentornfc></app-frontendmentornfc>
<!--Contact-->
<div id="contact" class="container text-center" style="min-height: 90vh;">

    <h2 class="mx-auto" style="width: max-content;">Contact</h2>


    <div class="row">
        <div class="contactText col-12">
            <p>Thank you for looking at my site, I hope you liked it, I'm working to make it even better, if you have
                any
                ideas or work, please write for me.</p>
            <p>My contact details:</p>
            <p><a href="mailto:mail@alexasztalos.com?subject=MailFromMyPortfolioSite" title="Email to Alex Asztalos"
                    target="_blank">mail@alexasztalos.com</a></p>
            <p><a href="https://github.com/LongerHUN" target="_blank"><span class="prodevicons devicon-github-plain"
                        title="My GitHub profile"></span></a>
                <a href="https://linkedin.com/in/alex-asztalos-hun" target="_blank"><span
                        class="prodevicons devicon-linkedin-plain" title="My LinkedIn profile"></span></a>
            </p>
        </div>
    </div>
    <!-- Scroll to top -->
    <button type="button" class="btn btn-primary" (click)="scrollToTop()">Scroll to Top</button>