<app-page-progress></app-page-progress>
<!-- NavBar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top mt-2">
    <div class="container-fluid d-flex">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav flex-fill">
                <li class="nav-item flex-fill"><a class="nav-link" id="littleAlex" href="#alex">Alex Asztalos</a></li>
                <li class="nav-item flex-fill"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item flex-fill"><a class="nav-link" href="#skills">Skills</a></li>
                <li class="nav-item flex-fill"><a class="nav-link" href="#projects">My projects</a></li>
                <li class="nav-item flex-fill"><a class="nav-link" href="#contact">Contact</a></li>
                <li class="nav-item flex-fill"><a class="nav-link" routerLink="AngularAllInOne">Angular</a>
                </li>
            </ul>
        </div>
    </div>
</nav>